@import "variables";

.header {
  align-items: center;
  background-color: $white;
  background-image: url('/assets/images/hero.svg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 15rem;
  display: flex;
  height: 16.25rem;
  justify-content: center;

  &__heading {
    font-family: $font-bold;
    font-size: 4rem;
    line-height: 2rem;
    margin: 0;
    padding: 0;

    a {
      color: $dark-slate;
      text-decoration: none;
    }
  }
}