<div *ngIf="character" class="individual">
  <img id="character-portrait" class="individual__image" [src]="character.image" alt="{{character.name}}" />
  <div class="individual__details">
    <h2 class="individual__name">{{character.name}}</h2>
    <ul class="individual__attributes">
      <li class="individual__attribute" aria-label="Species">{{character.species}}</li>
      <li class="individual__attribute" aria-label="Status">{{character.status}}</li>
      <li class="individual__attribute" aria-label="Gender">{{character.gender}}</li>
    </ul>
  </div>
</div>