@import "variables";

.pagination {
  display: flex;
  justify-content: center;
  margin: 0 0 4rem;
  text-align: center;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    color: $white;
    display: inline-block;

    &--active {
      color: $purple;
    }
  }

  &__button {
    background-color: transparent;
    border: 0;
    color: inherit;
    font-family: $font-normal;
    font-size: .875rem;
    line-height: 1.125rem;
    transition: color .25s;

    &:hover {
      color: $purple;
      cursor: pointer;
    }
  }
}