<form class="search-form">
  <label for="searchInput" class="hidden">Search</label>
  <input id="searchInput" name="name-search" placeholder="Search By Name" type="text" autocomplete="off" [(ngModel)]="searchTerm" />
  <button (click)="getCharacters(1)" class="button">Search</button>
</form>

<table *ngIf="characterCall" class="table table--with-hover">
  <tbody *ngIf="characterCall.results">
    <tr *ngFor="let c of characterCall.results" [routerLink]="['/characters', c.id]" [queryParams]="{ fromPage : currentPage, nameSearch : searchTerm }">
      <td aria-label="Name">{{c.name}}</td>
      <td aria-label="Species" class="width-10">{{c.species}}</td>
      <td aria-label="Status" class="width-10">{{c.status}}</td>
      <td aria-label="Gender" class="width-10">{{c.gender}}</td>
    </tr>
  </tbody>
</table>

<pagination *ngIf="pages"
  [pages]="pages"
  [currentPage]="currentPage"
  (selected)="getCharacters($event)">
</pagination>

