body {
  background-color: $dark-blue;
  font-family: $font-normal;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

// Helpers

.hidden {
  display: block;
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
}

.text-right {
  text-align: right;
}

.width-10 {
  width: 10rem;
}
