@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham-light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('../fonts/gotham-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
