// Colors
$white: #fff;
$dark-blue: #1E272E;
$gray: #ABAEB0;
$medium-gray: #7C828D;
$purple: #7B68EE;
$slate: #2B343B;
$dark-slate: #292D34;
$lighter-slate: #384047;

// Typography
$font-normal: 'Gotham', 'Helvetica', 'Arial', sans-serif;
$font-bold: 'Gotham Bold', 'Helvetica', 'Arial', sans-serif;
